<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleInicio.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleproyectos.css') }}" />
    <title>{%block titulo%} {%endblock%}</title>
</head>
<body>
    {%block inicio%} {%endblock%}
    {%block registro%} {%endblock%}
    {%block login%} {%endblock%}
    {%block proyectos%} {%endblock%}



</body>
</html>