{% extends 'base.html' %}
{%block proyectos%} 

<body>
    <header>
        
        <a href="perfil" class="botonperfil">Perfil</a>
        <a href="inicio" class="botoninicio">Inicio</a>
    </header>
    <header class="costado">
        <nav>
            <ul>
                <li><a class="botperfil" href="inicio">Inicio</a></li>
                <li><a class="botAcerca" href="info">Info</a></li>
                <li><a class="botmostrar" href="">Mostrar</a></li>
                <li><a class="botproyectos" href="">Proyectos</a></li>
            </ul>
        </nav>
    </header>
    <div class="cuadro">
        <div class="cargar_doc">
        <h2>Subir Documento</h2>
        <form action="/proyectos" method="POST" enctype="multipart/form-data">
            <input type="file" id="documento" name="documento" accept=".txt,.pdf,.doc,.docx">
            <button type="submit">Cargar Documento</button>
                <hr>
        </div> 
              
    <h2>Documentos cargados</h2>
    <ul class="doc_cargados">
        {% for file in files %}
            <li>{{ file }}
                <!-- <iframe src="{{ url_for('uploaded_file', filename=file) }}" frameborder="0"></iframe> -->
                <iframe
                src=""
                frameborder="0"
                style="width: 100%; height: 50px;"></iframe>
            <a
                href="{{ url_for('static', filename='uploads/' ~ file) }}">Abrir</a>

            </li>
        {% endfor %}

    </ul>
</div> 

    </form>
</body>

{%endblock%}